
body {
    background-color: #e2e2e2;
}
div#sideScroll {
    position: fixed;
    box-sizing: border-box;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 1500px;
    background-color: transparent;
}
div#header {
    position: absolute;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    top: 0%;
    left: 0%;
}
div#main {
    box-sizing: border-box;
    background-color: white;
    height: 110%;
    width: 30%;
    margin: 80px auto;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    padding-top: 50px;
    letter-spacing: -2px;
    box-shadow: 0px 3px 15px 1px #676767;
    z-index: 10;
    text-align: center;
}
div#underline {
    box-sizing: border-box;
    margin: 0 auto;
    height: 8px;
    width: 70%;
    border-radius: 50px;
    background-color: black;
}
div#underName {
    box-sizing: border-box;
    background-color: transparent;
    width: 90%;
    height: 70px;
    margin: 15px auto;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    text-align: center;
}
.spacer {
	height: 3vh;
	width: 75%;
	margin: 0 auto;
	background-color: transparent;
}
div#content {
    box-sizing: border-box;
    background-color: white;
    padding-top: 10px;
    box-shadow: 0px 3px 15px 1px #676767;
    width: 50%;
    height: 70%;
    margin: 30px auto;
}

div#resumeTitle {
    box-sizing: border-box;
    background-color: transparent;
    width: 50%;
    height: 50px;
    margin: 350px auto 10px auto;
    font-family: 'Karla', sans-serif;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    text-align: center;
    color: black;
}
h2 {
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 28px;
}
p {
    padding-left: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-right: 35px;
}

@media only screen and (max-width: 1500px) {
    div#main {
        width: 40%;
    }
    div#content {
        width: 55%;
    }
}
@media only screen and (max-width: 1220px) {
    div#main {
        width: 45%;
    }
    div#content {
        width: 60%;
    }
}

@media only screen and (max-width: 1050px) {
    div#main {
        width: 50%;
        font-size: 35px;
    }
    div#content {
        width: 70%;
    }
    div#resumeTitle {
        margin: 340px auto 10px auto;
    }
    h2 {
        font-size: 25px;
    }
}
@media only screen and (max-width: 750px) {
    div#resumeTitle {
        font-size: 30px;
    }
    div#main {
        width: 60%;
        font-size: 30px;
    }
    div#content {
        width: 75%;
    }
}

@media only screen and (max-width: 500px) {
    div#underline {
        width: 80%;
    }
    div#resumeTitle {
        margin: 310px auto 10px auto;
        font-size: 30px;
    }
    div#main {
        height: 100%;
        width: 65%;
        font-size: 26px;
        letter-spacing: -1px;
    }
    div#underName {
        font-size: 14px;
    }
    div#content {
        width: 80%;
    }
}

@media only screen and (max-width: 360px) {
    div#main {
        width: 80%;
        padding-top: 30px;
        height: 90%;
    }
    div#resumeTitle {
        margin: 290px auto 5px auto;
    }
    div#content {
        width: 90%;
    }
}

